@{
    ViewData["Title"] = "FinFolio";
}

<div class="row vh-75 bg-secondary rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center p-4">
                        <h1 class="display-1 text-danger">Start Here</h1>
                        <p class="h5">You are at the right place !</p> 
                        <p class="h5">Search for <mark>mutual funds</mark> and start building your <mark>portfolio</mark> or create your <mark>wishlist</mark>.</p>
                        <partial name="~/Views/Scheme/_SchemeSearch.cshtml" /> 
                    </div>
                       
</div>


  


