@model IEnumerable<FinFolio.Web.Models.SchemeViewModel>

<div id='fundSearch' class='col-lg-12' style='padding-top:15px'>
        <ejs-autocomplete cssClass="e-bigger" id="Id" placeholder="Search Mutual Funds" minLength="3" noRecordsTemplate="@Html.Raw("<span class='norecord'> No Mututal Fund Scheme found !</span>")"  actionFailureTemplate="@Html.Raw("<span class='action-failure'> Data fetch get fails</span>")"
        select="onSelect"
        >
            <e-data-manager adaptor="UrlAdaptor" url="/Scheme/Search" crossDomain="true"></e-data-manager>
            <e-autocomplete-fields text="name" value="code"></e-autocomplete-fields>
        </ejs-autocomplete>
</div>

<script type="text/javascript">
    function onSelect(args) { 
            document.getElementById('fundSearchtxt').innerText = args.itemData.code; 
        } 
</script>