@model FinFolio.Web.Models.SaveAndListViewModel<WishlistViewModel>

@{
    ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["origin"] = "wishlist";
}

<h1 class="text-danger text-center">Wishlist</h1>
<div class="bg-secondary rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Scheme Name</th>
                    <th scope="col">NAV</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (WishlistViewModel item in Model.ListItems)
                    {
                        <tr>
                        <td class="text-white">@item.NAVName</td>
                        <td class="text-white">@await Html.PartialAsync("~/Views/Scheme/_SchemeNAV.cshtml",new SchemeViewModel{Code=item.Code}, ViewData)</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>